@import url("https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap");

.bg-grid {
  background-size: 20px 20px;
  background-image: linear-gradient(
      to right,
      rgb(35 38 45 / 47%) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(35 38 45 / 47%) 1px, transparent 1px);
  background-position: top center;
  image-rendering: pixelated;
}

.noise-underlay {
  z-index: -30;
  position: relative;
}

.thing-bg {
  background: radial-gradient(
    ellipse at 50% 80%,
    rgba(255, 255, 255, 0.15),
    transparent
  );
}

html {
  @apply bg-black text-white;
  font-family: "Albert Sans", sans-serif;
}

.command-palette .antialiased {
  font-family: "Albert Sans", sans-serif !important;
  [data-headlessui-state] {
    @apply border border-white border-opacity-10 bg-gray-700;
    input {
      @apply font-medium;
    }
    svg {
      @apply text-white;
    }
  }

  .flex-1.overflow-y-auto.focus\:outline-none.p-2.space-y-4 {
    @apply border-t border-white border-opacity-10;
  }
}

img:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  @apply bg-gradient-to-t from-cyan-600 to-teal-700;
}
