---
import Layout from "../layouts/layout.astro";
import Head from "../components/head.astro";
import { getPosts } from "../utils/posts";
---

<Layout>
  <div class="mt-10 mx-auto">
    <Head />
  </div>
  <div class="mx-auto max-w-[80vw] w-full my-12 gap-4">
    <div
      class="bg-[#0d0d0d] rounded-lg border-white border border-opacity-10 p-4"
    >
      <h2 class="font-bold">
        GitHub - typestack/routing-controllers: Create structured, declarat...
      </h2>
    </div>
  </div>
</Layout>
