---
import Layout from "../layouts/layout.astro";
import { Head } from "../components/head";
import { parseContent } from "../utils/posts";

interface IFrontmatter {
  by: string;
  tag: string[];
}

const content = (await Astro.glob("./things/*.md")).map((thing) => ({
  ...(thing.frontmatter as IFrontmatter),
  content: thing.rawContent(),
}));

const parsedContent = await Promise.all(
  content.map((c) =>
    (async () => ({ ...c, content: await parseContent(c.content) }))()
  )
);
---

<Layout>
  <div class="mt-10 mx-auto">
    <Head client:idle />
  </div>
  <div class="grid grid-cols-2 mx-auto max-w-[80vw] w-full my-12 gap-4">
    {
      parsedContent.map(({ content, tag }) => (
        <div class="bg-gray-800 rounded-lg border-white border border-opacity-10 p-4">
          <h2 class="font-bold text-lg">{content.title}</h2>
          <img
            src={content.image}
            alt={content.title}
            class="w-full rounded-lg my-4"
          />
          <p>{content.description}</p>
        </div>
      ))
    }
  </div>
</Layout>
