<div class="mx-auto">
  <div class="text-4xl font-bold text-center">Awesome Stack</div>
  <div class="text-center font-thin">
    list of awesome things to add to your stack curated with love by Thinc.
  </div>
</div>
