---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Thinc. Awesome Stack</title>
    <meta name="title" content="Thinc. Awesome Stack" />
    <meta name="description" content="Thinc. Awesome Stack" />
  </head>
  <body>
    <main class="min-h-screen bg-black noise-underlay bg-grid flex flex-col">
      <slot />
    </main>
  </body>
</html>
